<div class="user-list">
  <ng-container *ngFor="let user of users">

    <app-card class="user-image"
      [image]="user.picture"
      [id]="user.id"
      [isLikes]="checkIfFavored(user.id)"

      (toFavoriteEvent)="addToFavorite(user)"
      (toEditEvent)="editUser(user.id)"
      (toExportToExcelEvent)="exportUserToExcel(user.id, user.name)"
      (toSaveEvent)="saveUser(user.id, user.name)"
      >
      <mat-card-title class="card-header"> {{ user | fullUsername }}
        <button mat-icon-button class="info" (click)="personalInfo(user.id)" >
          <mat-icon>account_box</mat-icon>
        </button>
      </mat-card-title>


      <div class="data-conteiner">
        <span class="btn">Age : <span class="grn">{{user.age}} </span> </span>
        <span class="btn">Gender : <span class="grn">{{user.gender ? "Male" : "Female" }}</span> &nbsp; <img [src]="user.gender | showGenderIcon" width="20px"></span>
        <span class="btn">Phone : <span class="grn">{{user.departament}}</span></span>
        <span class="btn">Nationality : <span class="grn">{{user.company}}</span> &nbsp;  <img [src]="user.company | flagCountry" width="20px"></span>
        <span class="btn">Email : <span class="grn">{{user.email}}</span></span>


          <ng-container *ngFor="let address of user.address; let i = index" >
            <h4> - Address #  :</h4>
            <span class="btw">Country : <span class="grn"> {{address.addressLine}}</span> </span>
            <ng-container *ngIf="address.city">
              <span class="btw">City : <span class="grn"> {{address.city}}</span> </span>
            </ng-container>
            <ng-container *ngIf="address.zip">
              <span class="btw">Postcode : <span class="grn"> {{address.zip}}</span> </span>
            </ng-container>
          </ng-container>

      </div>
    </app-card>
  </ng-container>



</div>

