@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.user-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

// .card-header{
//   font-family: 'Lobster', cursive;
// }

.btn{
  display: block;
  border-bottom: 1px solid rgb(214, 212, 212);
  margin-top: 3px;
  color: black;
}
.grn{
  color: rgb(1, 51, 1);
}
h4{
  margin: 0 0;
  margin-top: 5px;
  font-weight:bold ;
  color:rgb(1, 51, 1); ;
}
.btw{
  display: block;
  margin-top: 3px;
  color: black;
}
.info{
  color: green;
}
.info:hover{
  transition: 0.5s;
  color: orange
}
