
.formAddress{
  display: flex;
  justify-content:center
}
.address-full-width {
  min-width: 150px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.zip-full-width{
  width: 100px;
}
.state-full-width{
  width: 120px;
}
.buttonAddAddress{
 display: block;
 margin: 0 auto;
}

.headerAddress{
  margin-left: 20px;
  color: rgb(5, 49, 5);
  font-family: 'Gloria Hallelujah', cursive;
  font-weight: bold;
  text-decoration: underline;


}

@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Permanent+Marker&display=swap');
