<div class="car-list">
  <ng-container *ngFor="let car of cars">
    <app-card
      class="car-image"
      [image]="car.imageUrl"
      (toFavoriteEvent)="toFavorite(car)"
      [isLikes]="checkIfFavored(car.id)"

    >
      <mat-card-title class="card-header">
        {{ car.name }}
        <span class="car-number"> Number: <span class="grn">{{ car.number }}</span></span>
      </mat-card-title>

      <div class="data-conteiner">
        <span class="btn">Release year : <span class="grn">{{ car.releaseYear }}</span></span>
        <span class="btn">Color : <span class="grn">{{ car.color }}</span></span>
        <span class="btn">Car ID : <span class="grn">{{ car.id }}</span></span>
      </div>
    </app-card>
  </ng-container>
</div>
