<div class="car-list">
  <ng-container *ngFor="let car of cars">
    <app-card
      class="car-image"
      [image]="car.imageUrl"
      (addToFavoriteEvent)="addToFavorite($event)"
      (removeFromFavoriteEvent)="removeFromFavorite($event)"
      [isLikes]="checkIfFavored(car.id)"
      [entity]="car"
    >
      <mat-card-title class="card-header">
        {{ car.name }}
        <span class="car-number"> Number: {{ car.number }}</span>
      </mat-card-title>

      <div class="data-conteiner">
        <span class="btn">Release year : {{ car.releaseYear }}</span>
        <span class="btn">Color : {{ car.color }}</span>
        <span class="btn">Car id : {{ car.id }}</span>
      </div>
    </app-card>
  </ng-container>
</div>
