<div class="car-list">
  <app-card class="car-image" [image]="car.imageUrl" >

    <mat-card-title class="card-header"> {{car.name}}
      <span class="car-number"> Number: {{car.number}}</span>
    </mat-card-title>

    <div class="data-conteiner">
      <span class="btn">Release year : {{car.releaseYear}}</span>
      <span class="btn">Color : {{car.color}}</span>
      <span class="btn">Car id : {{car.id}}</span>

    </div>

    <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon" class="card-button" (click)="isLikes(car)" [color]="carLikesStatus">
      <mat-icon>favorite</mat-icon>
    </button>

  </app-card>

</div>
