
<app-search (changeValueInput)="searchUses($event)" [spinerStatus]="statusSpinner$"></app-search>
<div class="block">
  <button mat-stroked-button color="primary" id="refreshPage" >Refresh page</button>

  <button mat-stroked-button color="primary"
    [disabled]="statusButton"
    id="button"

    >Button for task #4
  </button>

</div>


<!-- (click)="disableMethod()" -->


<div class="user-shell">
  <app-user-list [users]="users" > </app-user-list>
  <app-setbar  class="child righted"  [favorites]="favorites"  [entity]="users" ></app-setbar>
</div>

<mat-paginator
    [length]="length"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    aria-label="Select page"
    (page)="OnPageChange($event)">
</mat-paginator>
