<header class="header">
  <img src={{logo}} width="70px">

  <div class="navigation">

    <ng-container *ngIf="!user">
      <button mat-stroked-button color="primary" routerLink="/registration">Registration</button>
      <button mat-stroked-button color="primary" routerLink="/login">Login</button>
    </ng-container>

    <ng-container *ngIf="user">
      <button mat-stroked-button color="primary" routerLink="/create">Add User</button>
      <button mat-stroked-button color="primary" routerLink="/users">Users</button>
      <button mat-stroked-button color="primary" routerLink="/cars">Cars</button>
    </ng-container>
  </div>


  <ng-container *ngIf="user">

    <div class="righted">
      <img  class="userPhoto" src={{photo}} width="50px">
      <p>{{user}}</p>
      <button mat-stroked-button  class='buttonLogOut' color="primary" (click)="logOut()" routerLink="/login">Log out</button>
  </div>
  </ng-container>

</header>

