header{
  display: flex;
  align-items: center;
  border-bottom: 2px solid greenyellow;
  padding: 5px;
  height: 70px;
  margin-bottom: 20px;
  overflow:  hidden;
}
.navigation{
  margin-left: 30px;
}
button{
  margin: 3px;
  background-color: gainsboro;
  border: black;
}
h3{
  display: inline-block;
}
