<header class="header">
  <img src={{logo}} width="70px">
  <div class="navigation">

    <ng-container *ngIf="!user">
      <button mat-stroked-button color="primary" routerLink="/registration">Registration</button>
      <button mat-stroked-button color="primary" routerLink="/login">Login</button>
    </ng-container>

    <ng-container *ngIf="user">
      <button mat-stroked-button color="primary" routerLink="/create">Add User</button>
      <button mat-stroked-button color="primary" routerLink="/users">Users</button>
      <button mat-stroked-button color="primary" routerLink="/cars">Cars</button>
      <button mat-stroked-button color="primary" >{{user}}</button>
      <button mat-stroked-button color="primary" (click)="logOut()">Log out</button>
    </ng-container>

  </div>
</header>

