
.usersCards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // justify-content:baseline;
  // align-items: flex-start
}

.user{
  flex: 1;
  border: 1px solid greenyellow;
  width: 250px;
  margin: 5px;

}
.deactivate{
  flex: 1;
}

span{
  color: rgb(21, 0, 116);
  font-weight: bold;
}
.stl{
  color: rgb(31, 51, 1);
  font-weight: bold;
}
.chack{
  color: rgb(5, 146, 12);
  font-weight: bold;
}

button{
  border: 3px solid #ccc;
  background:orange;
  border-radius: 10px;
  margin: 7px;
}
button:hover{
  transform: scale(1.1);
  transition: 1s
}
