<header class="header">
  <img src={{logo}} width="70px">

  <div class="navigation">
      <button mat-stroked-button color="primary" routerLink="/registration">Registration</button>
      <button mat-stroked-button color="primary" routerLink="/login">Sign in</button>
      <button mat-stroked-button color="primary" routerLink="/localSort"> Table with UI sorting</button>
      <button mat-stroked-button color="primary" routerLink="/remoteSort">Table with server sorting</button>
  </div>
</header>
<router-outlet></router-outlet>
