form{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.alert{
  color: orange;
  margin-bottom: 5px;
  margin-left: 10px;
}

.gender{
  display: block;
  margin: 0 auto;
}
