<form [formGroup]="childFormGroup" novalidate>
  <table class="full-width" cellspacing="0" width="400px">
    <tr>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>First name</mat-label>
        <input
          matInput
          id="name"
          type="text"
          name="name"
          formControlName="name"
          type="text"
          placeholder="Ex. Ivan"
          required
        />
      </mat-form-field>

      <div *ngIf="childFormGroup.controls['name'].invalid && (childFormGroup.controls['name'].dirty || childFormGroup.controls['name'].touched)" class="alert alert-danger">
        <span *ngIf="childFormGroup.controls['name'].errors"> First name is required.</span>
      </div>

    </tr>
    <tr>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Second name </mat-label>
        <input
          matInput
          name="secondName"
          formControlName="secondName"
          type="text"
          placeholder="Ex. Ivanov"
        />
      </mat-form-field>

      <div *ngIf="childFormGroup.controls['secondName'].invalid && (childFormGroup.controls['secondName'].dirty || childFormGroup.controls['secondName'].touched)" class="alert alert-danger">
        <span *ngIf="childFormGroup.controls['secondName'].errors" style="transition:1s"> Second name is required.</span>
      </div>

    </tr>
    <tr>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="example@gmail.com" />
        <mat-error></mat-error>
      </mat-form-field>

    </tr>
    <tr>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Company </mat-label>
        <input
          matInput
          name="company"
          formControlName="company"
          type="text"
          placeholder="Ex. ISsoft"
        />
      </mat-form-field>
      <div *ngIf="childFormGroup.controls['company'].invalid && (childFormGroup.controls['company'].dirty || childFormGroup.controls['company'].touched)" class="alert alert-danger">
        <span *ngIf="childFormGroup.controls['company'].errors"> Company is required.</span>
      </div>
    </tr>
    <tr>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Departament </mat-label>
        <input
          matInput
          name="departament"
          formControlName="departament"
          type="text"
          placeholder="Ex. Front-End"
        />
      </mat-form-field>
      <!-- <div *ngIf="childFormGroup.controls['name'].invalid && (childFormGroup.controls['name'].dirty || childFormGroup.controls['name'].touched)" class="alert alert-danger">
        <span *ngIf="childFormGroup.controls['name'].errors"> Name is required.</span>
      </div> -->
    </tr>

    <tr>
      <mat-form-field class="full-width" appearance="fill" floatLabel="always">
        <mat-label>Age</mat-label>
        <input
          matInput
          class="right-align"
          name="age"
          formControlName="age"
          type="number"
          placeholder="Ex. 21"
          min="15"
          max="100"
        />
        <span matSuffix>years</span>
      </mat-form-field>
      <!-- <div *ngIf="childFormGroup.controls['name'].invalid && (childFormGroup.controls['name'].dirty || childFormGroup.controls['name'].touched)" class="alert alert-danger">
        <span *ngIf="childFormGroup.controls['name'].errors"> Name is required.</span>
      </div> -->
    </tr>
    <label style="margin: 10px; font-size: small; color: gray"
      >Gender default value: FEMALE</label
    >
    <tr>
      <label id="radio-group-label" style="margin: 10px; font: bold"
        >Select gender:</label
      >
      <mat-radio-group aria-label="Select an option" formControlName="gender">
        <mat-radio-button
          value="false"
          style="margin: 10px; font-weight: bold; color: rgb(90, 90, 90)"
        >
          MALE
        </mat-radio-button>
        <mat-radio-button
          value="true"
          style="margin: 10px; font-weight: bold; color: rgb(90, 90, 90)"
        >
          FEMALE
        </mat-radio-button>
      </mat-radio-group>
    </tr>
  </table>
</form>
