.example-card {
  flex: 1;
  max-width: 250px;
  margin: 10px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.example-card:hover{
  transition: 0.7s;
  transform: scale(1.05);
}
