<mat-card class="card">
  <mat-card-header>
    <ng-content select=".card-header"> </ng-content>
  </mat-card-header>

  <img mat-card-image src="{{ image }}" alt="" />

  <mat-card-content class="information">
    <ng-content  select=".data-conteiner"></ng-content>
  </mat-card-content>
<ng-container >
    <mat-card-actions>
      <button mat-icon-button class="card-button" (click)="addToFavorite()" [color]="this.isLikes ? 'warn' : 'primary'"  >
        <mat-icon>favorite</mat-icon>
      </button>
    </mat-card-actions>

    <mat-card-actions class="button-export" >
      <button  mat-icon-button  (click)="exportToExcel()" class="edit button color" >
        <mat-icon matTooltip="Import to Excel">import_export</mat-icon>
      </button>
    </mat-card-actions>

    <mat-card-actions class="button-save" >
      <button  mat-icon-button  id='save' (click)="save()" class="edit button color" matTooltip="Save">
        <mat-icon>save</mat-icon>
      </button>
    </mat-card-actions>


    <mat-card-actions class="button-edit" >
      <button  mat-icon-button (click)="edit()"  class="edit button color">
        <mat-icon>edit</mat-icon>
      </button>
    </mat-card-actions>
  </ng-container>

  </mat-card>

