.create-shell{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction:column;
  margin-top: 10px;
}
.form{
  border: 1px solid greenyellow;
  padding: 20px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

button{
  display: block;
  width: 350px;
  margin: 0 auto;
  background-color: gainsboro;
}

.nameForm{
color: rgb(5, 49, 5);
font-family: 'Gloria Hallelujah', cursive;
font-weight: bold

}

@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Permanent+Marker&display=swap');
