.favorites{
  border-left: 1px solid greenyellow;
  height: 300px;
  width: 150px;
}

.favorites-title{
  margin-left: 30px;
  margin-bottom: 20px;
  font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(7, 68, 7);
}
.favorite-ent{
  margin: 5px 30px;
}
