app-address{
  display: inline-block;
}
mat-icon{
  display: inline-block;
}
.container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content:center;
  margin-bottom: 20px;
}
button{
  display: block;
  margin: 0 auto;

}

.headerAddress{
  margin-top: 10px;
  margin-left: 20px;
  color: rgb(5, 49, 5);
  font-family: 'Gloria Hallelujah', cursive;
  font-weight: bold;
  text-decoration: underline;
}

.mat-error{
  margin-bottom: 5px
}

@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Permanent+Marker&display=swap');
