<div class="form" [formGroup]="registrationFormGroup"  novalidate>

  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Username</mat-label>
    <input matInput id="name" type="text" name="username" formControlName="username" type="text" placeholder="Ex. Ivan"/>
    <mat-error *ngIf="registrationFormGroup.controls['username'].errors?.['required']"> Username is <strong>required</strong> </mat-error>
  </mat-form-field>

  <div formGroupName="passFormGroup">

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Pass </mat-label>
      <input matInput name="pass"  formControlName="pass" type="text" placeholder="Ex. 1234567"/>

          <mat-error *ngIf="pass.errors?.['required']"> Pass is <strong>required</strong> </mat-error>

    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Confirm pass </mat-label>
      <input matInput name="confirmPass"  formControlName="confirmPass" type="text" placeholder="Ex. 1234567"/>
          <mat-error *ngIf="confirmPass.errors?.['required']"> Confirm pass is <strong>required</strong> </mat-error>
          <mat-error *ngIf="confirmPass.errors?.['mismatch']"> Confirm pass is not <strong>match</strong> </mat-error>
    </mat-form-field>

  </div>

</div>
