<div class="user-list">
  <ng-container *ngFor="let user of users">
    <app-card
      class="user-image"
      [image]="user.imageUrl"
      (addToFavoriteEvent)="addToFavorite($event)"
      (removeFromFavoriteEvent)="removeFromFavorite($event)"
      [isLikes]="checkIfFavored(user.id)"
      [entity]="user"
    >
      <mat-card-title class="card-header"> {{user.name}} </mat-card-title>

      <div class="data-conteiner">
        <span class="btn">Age: {{user.age}} </span>
        <span class="btn">Gender: {{user.gender ? "Male" : "Female" }}</span>
        <span class="btn">Department: {{user.department }}</span>
        <span class="btn">Company: {{user.company }}</span>
      </div>


    </app-card>
  </ng-container>
</div>
