<div class="user-list">
  <app-card [image]="oneOfTheUser.imageUrl" >

    <mat-card-title class="card-header"> {{oneOfTheUser.name}} </mat-card-title>

    <div class="data-conteiner">
      <span class="btn">Age: {{oneOfTheUser.age}}</span>
      <span class="btn">Gender: {{oneOfTheUser.gender ? "Male" : "Female"}}</span>
      <span class="btn">Department: {{oneOfTheUser.department}}</span>
      <span class="btn">Company: {{oneOfTheUser.company}}</span>
    </div>

    <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon" class="card-button" (click)="isLikes(oneOfTheUser)" [color]="userlikesStatus">
      <mat-icon>favorite</mat-icon>
    </button>

  </app-card>

</div>

