<div class="user-list">
  <ng-container *ngFor="let user of users">
    <app-card
      class="user-image"
      [image]="user.imageUrl"
      (toFavoriteEvent)="addToFavorite(user)"

      [isLikes]="checkIfFavored(user.id)"

    >
      <mat-card-title class="card-header"> {{user.name}} {{user.secondName}}</mat-card-title>

      <div class="data-conteiner">
        <span class="btn">Age: <span class="grn">{{user.age}} </span> </span>
        <span class="btn">Gender: <span class="grn">{{user.gender ? "Male" : "Female" }}</span></span>
        <span class="btn">Department: <span class="grn">{{user.departament }}</span></span>
        <span class="btn">Company: <span class="grn">{{user.company }}</span></span>
        <span class="btn">Email: <span class="grn">{{user.email }}</span></span>
      </div>


    </app-card>
  </ng-container>
</div>
