.user-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.btn{
  display: block;
  border-bottom: 1px solid rgb(214, 212, 212);
  margin-top: 3px;
  color: black;
}
.grn{
  color: rgb(1, 51, 1);
}
